<%- include('./partials/header.ejs') %>
<%- include('./partials/homenavbar.ejs') %>
<body>
  <div class="container">
    <p><div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">GNeto blog</h1>
        <p class="lead">This is a blog that was developed by myself to demonstrate what I'm capable.</p>
        <p>Hire me on Upworks: <a href="https://www.upwork.com/o/profiles/users/~01e098fb79f01796b4/" class="btn btn-success">Upworks</a></p>
      </div></p>
    </div>
    <% articles.forEach(article => { %>
      <p><div class="card">
        <div class="card-header">
          <h2><%= article.title %></h2>          
        </div>
        <div class="card-body">
          <a href="/<%= article.slug %>" class="btn btn-success">Read article</a>
        </div>
      </div></p>
    <% }); %>
    <div class="row">
      <div class="col col-12">
       <a href="/articles/page/2" style="float: right">Next >>></a>
      </div><hr>
    </div><hr>
  </div>
</body>
<%- include('./partials/footer.ejs') %>